<%- include("header") -%>
<h1 style="color:#A683E3">About To do list</h1>
<p>Here you can note your to do list items + represents
to add any item - represents to remove any unwanted items
use checkbox to mark it as completed</p>
<%- include("footer") -%>
